services:
  revanced:
    build:
      context: .
      dockerfile: Dockerfile
    image: revanced-builder
    container_name: revanced-builder
    env_file:
      - .env
    volumes:
      - .:/app:z
