beautifulsoup4==4.12.3
environs==11.0.0
gdown @ git+https://github.com/nikhilbadyal/gdown
google-play-scraper==1.2.6
lastversion==3.5.2
loguru==0.7.2
packaging==24.0
pre-commit==3.7.1
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.1
tqdm==4.66.4
