name: Linter

env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  workflow_call:
  workflow_dispatch:


jobs:
  linter:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Setup Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: |
            requirements.txt

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
