name: Pre-commit update Checker

on:
  schedule:
    - cron: "15 2 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  auto-update:
    uses: nikhilbadyal/ghactions/.github/workflows/python-precommit-updater.yml@main
    if: github.repository == 'nikhilbadyal/docker-py-revanced'
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      PYTHON_VERSION: '3.11.5'
